block content
    h1= title
    p Blinds 1
        form(name='previous', action='/actuators/blinds', method='post')
            input(type="hidden", name='id', hidden='true' value="1")
            input(type="submit" name='command' value="1")
        form(name='next', action='/actuators/blinds', method='post')
            input(type="hidden", name='id', hidden='true' value="1")
            input(type="submit" name='command' value="0")
        form(name='next', action='/actuators/blinds', method='post')
            input(type="hidden", name='id', hidden='true' value="1")
            input(type="submit" name='command' value="-1")
    p Blinds 2
        form(name='previous', action='/actuators/blinds', method='post')
            input(type="hidden", name='id', hidden='true' value="2")
            input(type="submit" name='command' value="1")
        form(name='next', action='/actuators/blinds', method='post')
            input(type="hidden", name='id', hidden='true' value="2")
            input(type="submit" name='command' value="0")
        form(name='next', action='/actuators/blinds', method='post')
            input(type="hidden", name='id', hidden='true' value="2")
            input(type="submit" name='command' value="-1")


